
/*------------------------------------
- COLOR blast
------------------------------------*/

$blast_t1: #253276;
$blast_t2: #18214f;
$blast_t3: #6979cf;
$blast_t4: #7c8ad6;
$blast_t5: #070a18;
$blast_t6: #151c43;
$blast_t7: #1c265a;
$blast_t8: #000000;
$blast_t9: #8c98da;

$blast_shadow: rgba(37, 50, 118, 0.5);
$blast_text_color_dark_bright: #fff;


.alert-blast {
  color: $blast_t5;
  background-color: $blast_t9;
  border-color: $blast_t4;
}

.alert-blast hr {
  border-top-color: $blast_t3;
}

.alert-blast .alert-link {
  color: $blast_t8;
}

.badge-blast {
  color: $blast_text_color_dark_bright;
  background-color: $blast_t1;
}

.badge-blast[href]:hover, .badge-blast[href]:focus {
  color: $blast_text_color_dark_bright;
  background-color: $blast_t2;
}

.bg-blast {
  background-color: $blast_t1 !important;
}

a.bg-blast:hover, a.bg-blast:focus,
button.bg-blast:hover,
button.bg-blast:focus {
  background-color: $blast_t2 !important;
}

.border-blast {
  border-color: $blast_t1 !important;
}

.btn-blast {
  color: $blast_text_color_dark_bright;
  background-color: $blast_t1;
  border-color: $blast_t1;
}

.btn-blast:hover {
  color: $blast_text_color_dark_bright;
  background-color: $blast_t7;
  border-color: $blast_t2;
}

.btn-blast:focus, .btn-blast.focus {
  box-shadow: 0 0 0 0.2rem $blast_shadow;
}

.btn-blast.disabled, .btn-blast:disabled {
  color: $blast_text_color_dark_bright;
  background-color: $blast_t1;
  border-color: $blast_t1;
}

.btn-blast:not(:disabled):not(.disabled):active, .btn-blast:not(:disabled):not(.disabled).active, .show > .btn-blast.dropdown-toggle {
  color: $blast_text_color_dark_bright;
  background-color: $blast_t2;
  border-color: $blast_t6;
}

.btn-blast:not(:disabled):not(.disabled):active:focus, .btn-blast:not(:disabled):not(.disabled).active:focus, .show > .btn-blast.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $blast_shadow;
}

.btn-outline-blast {
  color: $blast_t1;
  background-color: transparent;
  border-color: $blast_t1;
}

.btn-outline-blast:hover {
  color: $blast_text_color_dark_bright;
  background-color: $blast_t1;
  border-color: $blast_t1;
}

.btn-outline-blast:focus, .btn-outline-blast.focus {
  box-shadow: 0 0 0 0.2rem $blast_shadow;
}

.btn-outline-blast.disabled, .btn-outline-blast:disabled {
  color: $blast_t1;
  background-color: transparent;
}

.btn-outline-blast:not(:disabled):not(.disabled):active, .btn-outline-blast:not(:disabled):not(.disabled).active, .show > .btn-outline-blast.dropdown-toggle {
  color: $blast_text_color_dark_bright;
  background-color: $blast_t1;
  border-color: $blast_t1;
}

.btn-outline-blast:not(:disabled):not(.disabled):active:focus, .btn-outline-blast:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-blast.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $blast_shadow;
}

.list-group-item-blast {
  color: $blast_t5;
  background-color: $blast_t4;
}

.list-group-item-blast.list-group-item-action:hover, .list-group-item-blast.list-group-item-action:focus {
  color: $blast_t5;
  background-color: $blast_t3;
}

.list-group-item-blast.list-group-item-action.active {
  color: $blast_text_color_dark_bright;
  background-color: $blast_t5;
  border-color: $blast_t5;
}

.table-blast,
.table-blast > th,
.table-blast > td {
  background-color: $blast_t4;
}

.table-hover .table-blast:hover {
  background-color: $blast_t3;
}

.table-hover .table-blast:hover > td,
.table-hover .table-blast:hover > th {
  background-color: $blast_t3;
}

.text-blast {
  color: $blast_t1 !important;
}

a.text-blast:hover, a.text-blast:focus {
  color: $blast_t2 !important;
}
